{% if form.non_field_errors %}
  <div class="form-error" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form %}{% if field.is_hidden %}{{ field }}{% else %}
  <div class="field{% if field.errors %} invalid{% endif %}{% if field.field.widget.input_type == 'checkbox' %} checkbox-field{% endif %}">
    {% if field.field.widget.input_type == "checkbox" %}
      <label>
        {{ field }} <span>{{ field.label }}</span>
      </label>
    {% else %}
      <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}
        <span class="required" aria-hidden="true">*</span>
    {% endif %}
  </label>{{ field }}{% endif %}
{% if field.help_text %}
  <div class="help-text">{{ field.help_text|safe }}</div>
{% endif %}
{% if field.errors %}
  <div class="field-error" role="alert">{{ field.errors }}</div>
{% endif %}
</div>
{% endif %}
{% endfor %}
